<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
  <body>
<!--    <div class="head">-->
<!--      <div>-->
<!--        <h1>我是标题内容，每个页面都有</h1>-->
<!--      </div>-->
<!--      <hr>-->
<!--    </div>-->
    <div th:replace="head.html::head-title('这个是第1个页面的二级标题')"></div>
    <div class="body">
      <ul>
        <li th:each="title, iterStat : ${list}" th:text="${iterStat.index}+'.《'+${title}+'》'"></li>
      </ul>
    </div>
  </body>
</html>